html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/404.gif');
    background-size: cover;
}

.linkNoColor {
    color: inherit;
}

#errorText {
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
