.translation-icon{
    width: 25px;
	margin-right: 5px;
}

#game-of-life-canvas {
	background-color: #d9d9d9;
}

html {
	max-width: 100vw;
	min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

footer {
    color: yellow;
}

footer > img {
    margin-left: 10px;
    margin-right: 10px;
    color: yellow;
    margin-top: 10px;
}

div {
    word-wrap: break-word;
}

.container {
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: calc(100vh - 150px);
}

#col-aboutUs {
    background-color: #e0cda9;
    background-clip: content-box;
}

#col-aboutUs > *, #col-context > *, #col-objectives > *, #col-surfrider > * {
    padding: 0px 10px 0px 10px;
}

#col-context {
    background-color: #cfe2f3;
    background-clip: content-box;
}

#context-hr {
    width: 10%;
    margin: 0px 10px 15px 10px;
    border: 4px solid #0275d8;
    border-radius: 5px;
}

#weatherConditions-hr {
	width: 10%;
	margin: 0px 10px 15px 10px;
	border: 4px solid #0275d8;
	border-radius: 5px;
}

#col-objectives {
    padding-top: 10px;
    background-color: #d9d9d9;
    background-clip: content-box;
}

#col-surfrider {
    padding-top: 10px;
    background-color: #a4c8e8;
    background-clip: content-box;
}

#top-banner {
	width: 100%;
	max-height: 150px;
    padding: 0;
}

#list-stakes {
    list-style: square;
    list-style-position: inside
}

#list-stakes > li {
    padding-top: 10px;
}

.linkNoColor {
    color: inherit;
}


/* INFO FORUM */

#form{
    background-color: white;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    padding: 10px;
}

label{
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-row {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form-group > h3{
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

#form-title{
    padding-bottom: 1rem;
}

#other-row{
    padding-top: 1rem;
}

#weatherConditions {
	border: 0;
	text-align: center;
	margin-top: 50px;
	vertical-align: middle;
}
#weatherConditions thead th {
	font-weight: bold;
	vertical-align: middle;
}
#weatherConditions thead th, #weatherConditions tbody td {
	border: 1px solid black;
}

.upside-down {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
	-moz-transform: rotate(-180deg); /* FF3.5+ */
	-o-transform: rotate(-180deg); /* Opera 10.5 */
	-webkit-transform: rotate(-180deg); /* Safari 3.1+, Chrome */
}

td {
    vertical-align: middle !important;
    word-break: break-word;
}

th {
    vertical-align: middle !important;
    word-break: break-word;
}
